* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    overflow-x: hidden;
}

.page-header {
    height: 100vh;
    width: 100vw; 
    /*Background image by: Tyler Clemmensen on Unsplash*/
    background-image: url(../assets/lake\ tahoe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
    color: #fff;
}

.page-header .page-header__hamburger {
    display: none;
}

.page-header__container {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding: .5rem;
}

.page-header__title {
    font-size: 2rem;
}

.page-header__horizontal-line {
    width: 85%;
    border: 1px solid #fff;
}

.navigation {
    width: 100%;
}

.navigation__list-items {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.navigation__link {
    text-decoration: none;
    color: #fff;
}

.navigation__link:hover {
    color: grey;
}

.page-header__landing-container {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 1.5rem;
    border-radius: 5px;
    margin-top: 15%;
}

.page-header__subtitle {
   color: #fff;
   font-weight: 600;
   font-size: 2rem;
}

.page-header__slogan {
    color: #fff;
}

.page-footer {
    background-color: #000;
    color: #fff;
    padding: 4rem;
}

.page-footer__title {
    text-align: center;
    font-size: 1.5rem;
}

.page-footer__media-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding: 1rem;
}

.page-footer__media-link {
    color: #fff;
    text-decoration: none;
}

.page-footer__media-link:hover {
    color: grey;
}

/*PAGE 2*/

body {
    background-color: #000;
}

.page2-wrapper {
    overflow-x: hidden;
}

.page2-header {
    height: 100vh;
    width: 100vw; 
    /*Background image by: El S on Unsplash*/
    background-image: url(../assets/hallway-bonz.ai.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
    color: #fff;
}

.page2-header .page2-header__hamburger {
    display: none;
}

.page2-header__container {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding: .5rem;
}

.page2-header__title {
    font-size: 2rem;
}

.page2-header__horizontal-line {
    width: 85%;
    border: 1px solid #fff;
}

.page2-header__landing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
    margin-top: 15%;
    margin-inline: auto;
    font-size: 1.5rem;
    padding: .5rem 1.5rem;
    border-radius: 5px;
}

.page2-header__subtitle {
    font-size: 2rem;
    font-weight: 600;
}

.page2-main {
    color: #fff;
}

.page2-main__gallery-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    place-items: center;
    padding: 2rem;
}

.page2-main__gallery-card {
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    margin-top: 1rem;
    
}

.page2-main__gallery-image {
    width: 300px;
    max-height: 200px;
    object-fit: fill;
    border-radius: 5px;

}

.page2-main__card-title, .page2-main__card-info {
    padding: .35rem;
}

/*PAGE 3*/
.page2-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
    color: #fff;
}

.page3-header .page3-header__hamburger {
    display: none;
}

.page3-header__container {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding: .5rem;
}

.page3-header__title {
    color: #fff;
    font-size: 2rem;
}

.page3-header__horizontal-line {
    width: 85%;
    border: 1px solid #fff;
}

.page3-main {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-inline: auto;
    margin-top: 8rem;
}

.page3-main__title {
    min-width: 200px;
    text-align: center;
}

.page3-main__form-section {
    width: 20%;
}

.page3-main__form {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    min-width: 200px;
    
}

.booking-button {
    width: 100%;
    margin-top: 1rem;
    padding: .25rem;
    border-radius: 5px;
    border-style: none;
    min-width: 200px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.booking-button:hover {
    background-color: grey;
}

.rooms {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    color: #fff;
    
}

.rooms__title {
    
    margin-top: 13rem;
}

.rooms__room-types {
    width: 80%;
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
    
}

.rooms__info-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0rem 1rem;
}

.rooms__image {
    max-width: 200px;
    height: auto;
    border-radius: 5px;
}





@media (min-width:375px) and (max-width:576px) {


    .page-header__container {
        flex-direction: row;
        justify-content: flex-end;
        position: relative;
    }

    .page-header__title {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .page-header .page-header__hamburger {
        display: inline;
        font-size: 2rem;
        padding-right: 1rem;
    }

    .page-header__horizontal-line {
        display: none;
    }

    .page-header__landing-container {
        width: 70%;
        margin-top: 35%;
    }

    .page-header__subtitle {
        font-size: 2rem;
    }

    .navigation {
        display: none;
    }

    .page-header__horizontal-line {
        display: none;
    }

    .page-footer__title {
        padding: .5rem;
        color: #fff;
    }
    
    .page2-header__container {
        flex-direction: row;
        justify-content: flex-end;
        position: relative;
        padding: .5rem 1rem;
    }

    .page2-header__title {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .page2-header .page2-header__hamburger {
        display: inline;
        font-size: 2rem;
        padding-right: 1rem;
    }

    .navigation {
        display: none;
    }

    .page2-header__horizontal-line {
        display: none;
    }

    .page2-header__landing-container {
        width: 70%;
        margin-top: 35%;
    }

    .page2-header__subtitle {
        font-size: 1.5rem;
    }


    


}